<p id="notice"><%= notice %></p>

<h1>Imports</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	<% @imports.each do |import| %>
    <tr>
      <td><%= import.title %></td>
      <td><%= link_to 'Show', import %></td>
      <td><%= link_to 'Edit', edit_import_path(import) %></td>
      <td><%= link_to 'Delete', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>    
  </tbody>
</table>
<div>
	<%= link_to 'Create Import', new_import_path, class: "btn btn-primary" %>
</div>